<body>
  <div class="container">
    <div class="main-content">
      <div class="text-content">
        <h1>Welcome</h1>
        <h2>Find your best friend</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla euismod, nisi nec malesuada feugiat, sapien
          magna dapibus felis, nec sodales libero libero nec ex. Nullam euismod risus a sapien blandit, eget</p>
      </div>
      <div class="image-container">
        <img src="../../assets/pic.png" alt="Person hugging a dog" class="hero-image">
      </div>
    </div>
  </div>
</body>